<ul>
  <% @notes.each do |note| %>
  <li>
    <%= note.content %>
    <div>
      <%= link_to edit_note_url(note) do %>
        <i class="icon-edit"></i>
      <% end %>

      <%= link_to '<i class="icon-trash"></i>'.html_safe, note_url(note), method: 'delete' %>
    </div>
  </li>
  <% end %>
  <li>
    <%= form_for Note.new do |f| %>
      <%= f.text_field :content, placeholder: 'Add a new aha! here', size: 50 %>
    <% end %>
  </li>

</ul>
